.breadcrumb {
  background-color: transparent;
}
.breadcrumb .active {
  font-size: .8rem;
  color: rgb(54,178,251);
}

.s-course-details {
  padding: 10px 0 100px 0;
  border-bottom: 1px solid rgb(229,104,215);
}
.s-course-details img {
  width: 470px;
  margin-right: 90px;
}
.s-course-details>div h2 {
  font-size: 16px;
  font-weight: bold;
}
.s-course-details>div p {
  font-size: 14px;
  margin-top: 25px;
}
.s-course-details .s-object {
  margin: 30px 0;
  font-size: 16px;
}
.s-course-details .s-object p {
  margin-top: 10px;
}
.s-course-details>div a {
  padding: 11px 23px;
  background-color: rgb(54,178,251);
  color: #fff;
}
/*介绍*/
.s-introduce {
  padding: 50px 0 110px 0;
  border-bottom: 1px solid rgb(229,104,215);
}
.s-introduce .nav li {
  margin-right: 20px;
}
.s-introduce .nav li.active a {
  border-color: transparent;
  background-color: rgb(54,178,251);
  color: #fff;
}
.s-introduce .nav li a {
  padding: 10px 30px;
  border: 1px solid #000;
}
.s-introduce .nav li a:hover,
.s-introduce .nav li a:focus {
  border-color: transparent;
  background-color: rgb(54,178,251);
  color: #fff;
}
.tab-content {
  position: relative;
  padding-top: 30px;
}
#course>h2 {
  max-width: 140px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(229,104,215);
  text-align: center;
}
#course>div {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
}
.tab-content .s-introduce-font {
  position: absolute;
  width: 600px;
  top: 20%;
  left: 600px;
  display: none;
}
.tab-content .s-introduce-font.on {
  display: block;
}
.tab-content .s-introduce-font>h2 {
  max-width: 60px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(229,104,215);
}
.tab-content .s-introduce-font>p {
  font-size: 14px;
  background-color: rgb(54,178,251);
  padding: 15px 60px 15px 15px;
  color: #fff;
}
.tab-content .s-introduce-font>a {
  display: block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  margin: 40px auto 0;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(54,178,251);
  color: #fff;
}
.s-int-img {
  width: 540px;
  font-size: 0;
}
.s-int-img>li {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 340px;
  border-right: 1px solid #ccc;
  font-size: 18px;
  cursor: default;
}
.s-int-img>li>img {
  width: 100%;
  height: 100%;
}
.s-int-img>li>div {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}
.s-int-img>li>div p{
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.s-int-img>li.on div {
  background-color: rgba(0,0,0,.1);
}
.tab-content #plan div {
  padding: 15px 30px;
}
.tab-content #plan div h2 {
  width: 60px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(229,104,215);
  text-align: center;
}
.tab-content #plan div p {
  font-size: 14px;
}
/*课程特色*/
.s-policy {
  padding: 70px 125px 100px;
  text-align: center;
}
.s-policy .s-policy-title {
  position: relative;
  padding-bottom: 10px;
  font-size: 20px;
}
.s-policy .s-policy-title:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: rgb(54,178,251);
}
.s-policy h4 {
  line-height: 25px;
  font-size: 16px;
}
.s-policy-feature {
  margin-top: 40px;
}
.s-policy-feature>div {
  position: relative;
  float: left;
  width: 280px;
  height: 280px;
  margin: 0 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.s-policy-feature>div:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.s-feature-before {
  background: url('/cn/images/classes-details01.png') 0 0 no-repeat;
}
.s-feature-middle {
  background: url('/cn/images/classes-details02.png') 0 0 no-repeat;
}
.s-feature-after {
  background: url('/cn/images/classes-details03.png') 0 0 no-repeat;
}
.s-feature-text {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  padding: 0 30px;
}
.s-feature-text h3,
.s-feature-text p {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
}
.s-feature-text h3 {
  font-weight: bold;
  font-size: 16px;
}
/*七个特色*/
.s-seven {
  width: 1200px;
  margin: 0 auto;
}
.s-seven ul {
  text-align: center;
}
.s-seven li {
  float: left;
  width: 141px;
  margin: 0 15px;
  text-align: center;
  font-size: 14px;
}
.s-seven .s-seven-img {
  width: 48px;
  height: 48px;
  margin: 0 0 15px 50px;
  background: url("/cn/images/classes-sprite.png") no-repeat;
}
.s-seven li:nth-child(2) .s-seven-img{
  background-position: -48px 0;
}
.s-seven li:nth-child(3) .s-seven-img{
  background-position: -96px 0;
}
.s-seven li:nth-child(4) .s-seven-img{
  background-position: -144px 0;
}
.s-seven li:nth-child(5) .s-seven-img{
  background-position: -192px 0;
}
.s-seven li:nth-child(6) .s-seven-img{
  background-position: -240px 0;
}
.s-seven li:nth-child(7) .s-seven-img{
  background-position: -288px 0;
}