.s-course .s-title-list {
  font-size: 0;
  width: 860px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}
.s-course .s-title {
  display: inline-block;
  padding-bottom: 15px;
}
.s-course .s-title-list a {
  padding: 0 30px;
  font-size: 24px;
  line-height: 24px;
  border-right: 1px solid #000;
  color: rgb(212,212,212);
}
.s-course .s-title:last-child a {
  border-right: 0;
}
.s-course .s-title.active{
  position: relative;
}
.s-course .s-title.active:after {
  position: absolute;
  display: block;
  content: '';
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: rgb(54,178,251);
}
.s-course .s-title.active a {
  color: #000;
}
.s-course .s-title-list a:focus {
  text-decoration: none;
}
.s-course .s-desc {
  width: 780px;
  margin: 15px auto 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.s-course .s-detail {
  padding: 0 20px;
}
.s-course .s-text {
  width: 530px;
  margin-top: 100px;
  font-size: 14px;
}
.s-course .s-text .s-text-cnt {
  height: 100px;
  margin-bottom: 30px;
  overflow: hidden;
}
.s-course .s-text-cnt p {
  line-height: 24px;
}
.s-course .s-text h2 {
  font-size: 16px;
  font-weight: 700;
}
.s-course .s-text .s-font {
  line-height: 24px;
  margin-bottom: 30px;
  padding: 0 5px;
}
.s-course .s-text li {
  display: inline-block;
  width: 60px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
}
.s-course .s-text li:last-child {
  width: 80px;
}
.s-course .s-consult {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 50px;
  font-size: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgb(54,178,251);
  color: #fff;
}
.s-course .s-img {
  position: relative;
  height: 524px;
  margin-left: 550px;
}
.s-course .s-img div {
  position: absolute;
}
.s-course .s-img .s-img-bg {
  width: 577px;
  height: 480px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 2px #c0c0c0;
}
.s-course .s-img-bg01 {
  box-shadow: 0 0 3px 2px #c0c0c0;
}
.s-course .s-img-bg02 {
  top: 15px;
  left: 15px;
  z-index: -1;
}
.s-course .s-img-bg03 {
  top: 30px;
  left: 30px;
  z-index: -2;
}