.breadcrumb {
  background-color: #fff;
}
.breadcrumb li,
.breadcrumb li a {
  font-size: 14px;
}
.s-exercise .s-top-img {
  margin-bottom: 60px;
}
.s-exercise .s-top-img img {
  width: 100%;
  height: 247px;
}
.s-exam {
  min-height: 600px;
  font-size: 14px;
}
.s-exam .s-num {
  font-size: 16px;
}
/*数学*/
.math-exam {
  width: 680px;
  margin-right: 100px;
}
.math-exam .math-title {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  margin-top: 0;
  background-color: rgb(54,178,251);
}
.math-exam .math-title>h3 {
  line-height: 35px;
  font-size: 20px;
  color: #fff;
}
/*阅读、文法*/
.s-exam .read-exam .read-title {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  background-color: rgb(54,178,251);
}
.s-exam .read-exam .read-title>h3,
.s-exam .read-exam .read-title>p {
  line-height: 35px;
  font-size: 20px;
  color: #fff;
}
.s-exam .read-exam .work-wrap-left {
  height: 500px;
  padding-right: 10px;
  border-right: 1px dashed #ccc;
}
/*.s-exam .read-exam,*/
/*.s-exam .read-exam .work-wrap-left,*/
/*.s-exam .read-exam .work-wrap-right {*/
  /*width: 100%;*/
  /*overflow: hidden;*/
/*}*/
/*.s-exam .read-exam .work-wrap-left {*/
  /*height: 400px;*/
  /*overflow-y: auto;*/
/*}*/
/*.read-exam .work-wrap-left .read-text {*/
  /*width: 100%;*/
/*}*/
.correct-ans-hide {
  padding: 20px 0;
  color: rgb(54,178,251);
  display: none;
}
/*收藏、查看答案、上下题*/
.s-exam .s-btn-list {
  margin: 40px 0;
  padding-right: 100px;
}
.s-exam .s-collect {
  padding: 5px 15px;
  background-color: rgb(243,243,243);
  cursor: pointer;
}
.s-exam .s-answer {
  font-size: 0;
}
.s-exam .s-answer li {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  font-size: 14px;
  background-color: rgb(243,243,243);
  cursor: pointer;
}
.s-exam .s-collect:hover,
.s-exam .s-answer li:hover,
.s-exam .s-collect.active,
.s-exam .s-answer li.active {
  background-color: rgb(54,178,251);
  color: #fff;
}
/*题目解析*/
.s-exam .s-answer-show {
  display: none;
}
.s-exam .s-answer-show h3 {
  font-size: 16px;
}
.s-exam .s-answer-show .s-answer-cnt {
  padding: 10px;
  border: 1px solid #000;
}
/*右侧栏*/
.exer-side {
  font-size: 0;
}
.exer-side>div {
  display: inline-block;
  width: 380px;
  margin: 0 10px 30px;
  font-size: 14px;
}
.exer-side>div>h3 {
  width: 100%;
  height: 35px;
  background-color: #ccc;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.exer-side>div li {
  padding: 0 10px;
  line-height: 30px;
  border-bottom: 1px dashed #ccc;
}
.exer-side>div li a {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*.s-exercise .s-adv .s-adv-img {*/
  /*width: 100%;*/
  /*height: 145px;*/
  /*-webkit-box-shadow: 0 0 3px #000;*/
  /*-moz-box-shadow: 0 0 3px #000;*/
  /*box-shadow: 0 0 3px #000;*/
/*}*/
/*.s-exercise .s-adv .s-code {*/
  /*margin: 30px 0;*/
  /*text-align: center;*/
/*}*/
/*.s-exercise .s-adv .s-code img {*/
  /*width: 70%;*/
  /*font-size: 16px;*/
/*}*/
/**
  遮罩
**/
.work-shade {
  /*display: block;*/
}
.shade-wrap {
  width: 300px;
  height: 200px;
  padding: 20px;
  top: 50%;
  left: 50%;
  display: block;
}
.shade-wrap p {
  width: 100px;
  padding: 6px 0;
  margin: 20% auto 0;
  border-radius: 10px;
  background-color: rgb(54,178,251);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.shade-wrap p:hover {
  background-color: #2e9fd9;
}