.work-mk p,
.s-exer-wrap p{
    margin: 0;
}
.work-mk-top {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    background-color: rgb(54,178,251);
}
.work-mk-top .work-top-cnt {
    width: 100%;
    text-align: center;
    color: #fff;
}
.work-mk-top .work-top-cnt p {
    color: #fff;
}
.work-title-pos {
    text-align: left;
}
.work-top-cnt .work-main-title {
    font-size: 24px;
}
.work-top-cnt .work-subhead {
    font-size: 18px;
}
.work-collect {
    text-align: right;
    cursor: pointer;
}
/*做题区域*/
.work-mk-cnt {
    width: 1200px;
    margin: 0 auto;
    background-color: #f1f1f1;
}
.work-wrap-left {
    width: 590px;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.work-wrap-left h3 {
    margin-left: 35px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    line-height: 26px;
}
.work-wrap-left h5 {
    margin-left: 35px;
    padding: 10px 0;
    line-height: 28px;
    font-weight: normal;
    font-family: Times New Roman;
    font-style: italic;
    font-size: 22px;
    color: #333;
}
.text-line {
    font-size: 16px;
    font-style: italic;
    margin-right: 5px;
    width: 38px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}
.work-wrap-left .read-text {
    width: 530px;
}
.work-wrap-left .read-text span,
.work-wrap-left .read-text p {
    font-size: 20px;
    line-height: 28px!important;
    font-family: Arial;
    color: #333;
}
.work-wrap-right {
    width: 598px;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.work-question-part>div {
    margin-top: 20px;
}
.work-question-part>.question-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.work-question-part>.question-title h1 {
    margin: 0 10px 0 0;
    font-size: 20px;
}
.work-question-part>.question-title p,
.work-question-part>.question-title span {
    font-size: 20px !important;
    line-height: 30px!important;
}
.work-question-part .work-que-box,
.work-question-part .work-que-wrap {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}
.work-question-part .work-select {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 50%;
    border: 2px solid rgb(54,178,251);
    text-align: center;
    color: rgb(54,178,251);
}
.work-que-wrap:hover .work-select{
    background-color: rgb(54,178,251);
    color: #fff;
}
.work-select.active {
    background-color: rgb(54,178,251);
    color: #fff;
}
.work-question-part .work-que {
    margin-left: 40px;
    padding: 3px 0;
    line-height: 24px;
    font-size: 16px;
}
.work-question-part .work-que p,
.work-question-part .work-que span {
    line-height: 28px!important;
}
/*数学*/
.work-mk-math,
.work-math-gap {
    padding: 10px 20px;
}
/*新数学填空*/
.math-table {
    border-collapse: collapse;
    border: 2px solid #ccc;
    margin-top: 15px;
}
.math-table tr.head {
    background-color: #e8e8e8;
}
.math-table th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 38px;
    /*line-height: 38px;*/
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.math-table td {
    width: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 9px;
    border-right: 1px solid #ccc;
}
.math-table td.cut {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.math-table td.zero {
    padding-top: 5px;
}
.math-table td a {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2f9fda;
    font-size: 13px;
    text-align: center;
    display: block;
    line-height: 18px;
    margin-top: 3px;
    margin-bottom: 2px;
    font-weight: bold;
    text-decoration: none;
    color: #2f9fda;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-type {
    background-color: #5fafda;
    color: #fff;
    font-size: 14px;
    padding: 2px 5px;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 2px;
    font-family: "Microsoft Yahei";
}
.btn-invalid {
    background-color: #bbb !important;
}
.btn-invalcut {
    border: 2px solid #bbb !important;
    background-color: #bbb !important;
    color: #fff !important;
}
/*数学填空*/
.math-gap-table {
    margin: 0;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid #333;
    /*color: rgb(54,178,251);*/
}
.math-gap-table.sure {
    border-color: #ccc;
    color: #ccc;
}
.math-gap-table tr {
    border: 1px solid #333;
}
.math-gap-table tr.sure {
    border-color: #ccc;
}
.math-gap-table td {
    padding: 20px;
    cursor: pointer;
}
.math-gap-table td:not(.math-gap-result):hover {
    color: #fff;
    background-color: rgb(54,178,251);
}
.math-gap-table .math-gap-result {
    padding: 0;
}
.math-gap-result input {
    width: 100%;
    height: 50px;
    padding: 20px;
    border: 0;
    outline: 0;
    text-align: right;
}
/**
    底部
**/
.work-mk-btm {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.work-mk-btm .work-btm-cnt {
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    background-color: rgb(54,178,251);
}
.work-mk-btm .work-btm-cnt div,
.work-mk-btm .work-btm-cnt a {
    color: #fff;
}
/*离开*/
.work-time-icon,
.work-time span,
.work-out-off,
.work-out span {
    vertical-align: middle;
}
.work-time-icon,
.work-out-off {
    font-size: 30px;
}
.work-out {
    cursor: pointer;
}
.work-btm-cnt .work-out:hover {
    color: #ccc;
}
/*时间、进度*/
.work-time,
.work-sec-process,
.work-all-process {
    text-align: center;
}
/*下一题*/
.work-btm-next {
    text-align: right;
}
.work-btm-next i {
    font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.work-btm-next:hover a {
    color: #ccc;
    text-decoration: none;
}
.work-submit {
    display: none;
}
/**
    遮罩层*
*/
.work-shade {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.shade-wrap {
    position: absolute;
    display: none;
    width: 500px;
    height: 300px;
    padding: 50px 25px 0;
    background-color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 20px;
    text-align: center;
}
.shade-select {
    padding: 0 10px;
    margin-top: 16%;
}
.shade-wrap .shade-select>span {
    display: block;
    width: 190px;
    line-height: 42px;
    background-color: #444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.shade-wrap .shade-select .shade-out:hover {
    background-color: #333;
}
.shade-wrap .shade-select .shade-in {
    background-color: rgb(54,178,251);
}
.shade-wrap .shade-select .shade-in:hover {
    background-color: rgb(48,167,237);
}
/*休息弹窗*/
.relax-wrap>h3 {
    font-size: 20px;
    font-weight: bold;
}
.relax-wrap>h4 {
    padding: 5px 0;
}
.relax-wrap .shade-select {
    margin-top: 10%;
}
.relax-wrap .five-count {
    font-size: 30px;
    color: rgb(54,178,251);
}
/*自动提交弹窗*/
.auto-wrap {
    /*display: block;*/
}
.auto-wrap .shade-select {
    margin-top: 5%;
}
.auto-wrap .shade-select .auto-time {
    font-size: 50px;
    color: rgb(54,178,251);
}
.auto-wrap .shade-select>span {
    margin: 0 auto;
}