.person-wrap {
  /*margin-top: 30px;*/
}
.person-wrap .person-side {
  width: 230px;
}
.person-wrap .person-side>ul>li:not(.person-title) {
  line-height: 50px;
  border: 1px solid #ccc;
  border-top: 0;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  cursor: default;
}
.person-wrap .person-side>ul>li:not(.person-title).on,
.person-wrap .person-side>ul>li:not(.person-title):hover {
  background-color: rgb(230,230,230);
  color: rgb(54,178,251);
}

.person-wrap .person-side .person-title {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background-color: rgb(54,178,251);
}
.person-wrap .person-name img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.person-wrap .person-name>p {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #fff;
}
.person-title>ul {
  margin-top: 20px;
  font-size: 0;
}
.person-title>ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,.4);
  font-size: 14px;
  color: #fff;
}
.person-title>ul li:last-child {
  margin: 0;
}
/**
  内容区
**/
.person-cnt {
  width: 870px;
  margin-left: 100px;
}
.person-cnt>dl {
  font-size: 0;
}
.person-cnt>dl dt,
.person-cnt>dl dd {
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
}
.person-cnt>dl dt {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
}
.person-cnt>dl dd{
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.person-cnt>dl dd.on,
.person-cnt>dl dd:hover {
  background-color: #ccc;
  color: rgb(54,178,251);
}
.person-cnt>ul li {
  margin: 20px 0;
  border-bottom: 1px dashed #ccc;
}
.person-cnt>ul li .collect-time {
  width: 100px;
  text-align: center;
}
.person-cnt>ul li .collect-time>span {
  font-size: 14px;
  color: #999;
}
.person-cnt>ul .collect-time>p {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}
.person-cnt>ul .collect-del {
  width: 90px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(54,178,251);
  color: #fff;
  font-size: 16px;
  cursor: default;
}
.person-cnt>ul .collect-del>div {
  margin-top: 10px;
  font-size: 14px;
  background-color: #fff;
  color: rgb(54,178,251);
}
.person-cnt>ul .collect-del>p {
  line-height: 40px;
  margin-bottom: 0;
}
.person-cnt>ul .collect-sub {
  max-height: 70px;
  padding-right: 5px;
  overflow: hidden;
}
.person-cnt>ul .collect-sub>h4 {
  margin: 0;
  font-size: 18px;
  color: rgb(54,178,251);
}
.person-cnt>ul .collect-sub>h4 i {
  padding-right: 10px;
}
.person-cnt>ul .collect-sub>h4 span {
  padding-left: 20px;
  font-size: 12px;
  color: #ccc;
}
/**
  模考记录
**/
