html,body {
  font-size: 20px;
}
a {
  font-size: 16px;
}
.s-w1200 {
  width:1200px;
  margin: 0 auto;
}
.border-radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.border-blue {
  border: 1px solid rgb(54,178,251);
}
.border-purple {
  border: 1px solid rgb(229,104,215);
}
.over-ellipse {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body {
  /*padding-top: 75px;*/
}
/*一级导航栏*/
.greyNav {
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: #3d3d3d;
}
.inGrey {
  width: 1150px;
  margin: 0 auto;
}
.leftNav ul li {
  float: left;
  font-size: 14px;
}
.leftNav ul li.xian {
  color: #676767;
  margin-left: 20px;
  margin-right: 16px;
}
.leftNav ul li.phone {
  color: #e5e5e5;
  margin-right: 8px;
  margin-left: 20px;
}
.leftNav ul li:first-child {
  margin-right: 13px;
}
.leftNav ul li:last-child a {
  width: 67px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  display: block;
  color: #000000;
  font-size: 12px;
  border-radius: 3px;
  margin-top: 10px;
  padding: 0;
  background: -o-linear-gradient(#f2f2f2,#f2f2f2,#d3d3d3,#e2e2e2);
  background: -ms-linear-gradient(#f2f2f2,#f2f2f2,#d3d3d3,#e2e2e2);
  background: -webkit-linear-gradient(#f2f2f2,#f2f2f2,#d3d3d3,#e2e2e2);
  background: linear-gradient(#f2f2f2,#f2f2f2,#d3d3d3,#e2e2e2);
}
.leftNav a {
  height: 100%;
  display: block;
  color: #dadada;
  padding: 0 10px;
  font-size: 14px;
}
.leftNav a.on {
  background: #ffffff;
  color: #787878;
}
.leftNav ul li img {
  vertical-align: middle;
}

.s-nav-login {
  display: none;
  font-size: 0;
  margin-bottom: 0;
}
.s-nav-login li {
  display: inline-block;
  margin-right: .25rem;
}
.s-nav-login li:last-child {
  margin-right: 0;
}
.s-nav-login li a {
  padding: 2px 20px;
  text-decoration: none;
  border: 1px solid #fdfdfd;
  border-radius: 3px;
  font-size: 14px;
  color: #f0f0f0;
}
.s-nav-login li a:hover {
  color: #fff;
}
.login-after {
  position: relative;
  height: 100%;
  padding: 0 8px;
  background-color: rgb(54,178,251);

  font-size: 12px;
}
.login-after .login-after-show>img {
  float: left;
  margin: 8px 8px 0 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.login-after .login-after-show p {
  float: left;
  margin: 0;
  color: #fff;
}
.login-after-list {
  position: absolute;
  width: 100%;
  top: 42px;
  left: 0;
  z-index: 99;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}
.login-after-list>ul {
  margin-bottom: 0;
}
.login-after-list li {
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.login-after-list li:last-child {
  border-bottom: 0;
}
.login-after-list li:hover {
  background-color: rgb(54,178,251);
}
.login-after-list li a {
  font-size: 14px;
}
.login-after-list li:hover a {
  color: #fff;
}
/*APP下载*/
.appDownload {
  height: 100%;
  padding: 0 30px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.appDownload .app-tit {
  color: #fff;
}
.app-down {
  width: 140px;
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 99;
  background: #f3f7f7;
  text-align: center;
  display: none;
}
.app-down li {
  position: relative;
}
.app-down li.on {
  background-color: #3d3d3d;
}
.app-down li.on a {
  color: #f0f0f0;
}
.app-down li a {
  font-size: 14px;
}
.app-down li .app-box {
  position: absolute;
  right: -70px;
  top: 0;
  display: none;
}
.app-box img {
  width: 70px;
}
/**
  导航栏
**/
.s-nav {
  background-color: #fff;
  padding-top: 10px;
}
.s-nav  .container {
  width: 1200px;
  /*height: 50px;*/
  /*line-height: 50px;*/
  /*overflow: hidden;*/
}
.s-nav .container .s-nav-logo {
  margin-right: 2%;
}
.s-nav .container .s-nav-logo img {
 width: 170px;
 height: 50px;
}
.s-nav-cnt {
  /*line-height: 60px;*/
  padding-top: 20px;
  font-size: 0;
  margin-bottom: 0;
}
.s-nav-cnt li {
  display: inline-block;
}
.s-nav-cnt li a {
  padding: 15px;
}
.s-nav-cnt li a:hover,
.s-nav-cnt li a:focus {
  color: rgb(44,158,225);
  text-decoration: none;
}
.s-nav-cnt li a.on {
  color: rgb(54,178,251);
}
.s-nav .s-nav-cnt li.s-nav-work {
  position: relative;
}
.s-nav .s-nav-cnt li.s-nav-work i {
  position: relative;
  padding-right: 10px;
  left: 10px;
  bottom: 3px;
}
.s-nav-cnt li.s-nav-work ul {
  position: absolute;
  top: 40px;
  border-top: 2px solid rgb(54,178,251);
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  background-color: #fff;
  z-index: 9;
}
.s-nav-cnt li.s-nav-work ul.s-nav-showing {
  display: none;
}
.s-nav-cnt li.s-nav-work ul li {
  width: 100%;
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}
.s-nav-cnt li.s-nav-work ul li:hover,
.s-nav-cnt li.s-nav-work ul li:focus {
  color: rgb(44,158,225);
}
.s-nav-cnt li.s-nav-work li a {
  padding: 10px;
}
.s-nav form {
  position: relative;
  float: left;
  width: 150px;
  /*height: 60px;*/
  padding-top: 15px;
  margin-left: 5%;
}
.s-nav form i{
  position: absolute;
  right: 10px;
  top: 23px;
  font-size: 16px;
  color: gray;
}
.s-nav form input {
  width: 100%;
  height: 24px;
  vertical-align: middle;
  border: none;
  outline: none;
  border: 1px solid rgb(54,178,251);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 3px 25px 3px 15px;
  font-size: 14px;
}

/*--------------------底部----------------------*/
.s-footer-top {
  margin: 80px 0 30px 0;
  text-align: center;
}
.s-footer-top dl,
.s-footer-top .s-qr,
.s-footer-top .s-tel {
  display: inline-block;
  vertical-align: top;
}
.s-footer-top dl {
  padding: 0 50px;
}
.s-footer-top dl dt {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(25,78,108);
}
.s-footer-top .s-qr {
  width: 140px;
  margin-left: 8%;
  font-size: 16px;
  text-align: center;
}
.s-footer-top .s-qr img {
  width: 100%;
  margin-bottom: 10px;
}
.s-footer-top .s-tel {
  padding: 30px 0;
  margin-left: 100px;
}
.s-footer-top .s-tel img {
  margin-bottom: 20px;
}
.s-footer-bottom {
  padding: 20px 0;
  background-color: rgb(25, 78, 108);
  text-align: center;
}
.s-footer-bottom dl dt,
.s-footer-bottom dl dd {
  display: inline-block;
}
.s-footer-bottom dl dt {
  font-size: 16px;
  color: #fff;
  margin-right: 27px;
}
.s-footer-bottom dl dd a {
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}
.s-footer-bottom p,
.s-footer-bottom p a {
  font-size: 14px;
  color: #fff;
}
/*.s-footer-bottom p a:hover {*/
  /*color:  #ccc;*/
/*}*/
/**
  侧边栏
**/
.side-bar {
  position: fixed;
  z-index: 99;
  top: 20%;
  right: 0;
}
.side-bar li {
  position: relative;
  width: 64px;
  height: 72px;
  padding-top: 20px;
  margin-bottom: 1px solid #fff;
  background-color: #1e638a;
}
.side-bar li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.side-bar li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.side-bar li:hover {
  background-color: #2185bf;
}
.side-bar li>p {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url("/cn/images/sidebar.png") 0 0 no-repeat;
}
.side-bar .side-wechat>p {
  background-position: -32px 0;
}
.side-bar .side-qq>p {
  background-position: -64px 0;
}
.side-bar .side-tel>p {
  background-position: -96px 0;
}
.side-bar .side-arrow>p {
  background-position: -128px 0;
}
.side-bar li>div {
  position: absolute;
  top: 0;
  right: 72px;
  display: none;
  padding: 12px 0;
  text-align: center;
  background: #2185bf;
  font-size: 12px;
  color: #fff;
}
.side-bar li>div:after {
  position: absolute;
  display: block;
  content: '';
  top: 25px;
  right: -20px;
  border: 10px solid transparent;
  border-left-color: #2185bf;
}
.side-bar .side-service>div {
  width: 125px;
  height: 72px;
  line-height: 52px;
  font-size: 16px;
}
.side-bar .side-service>div a {
  color: #fff;
}
.side-bar .side-wechat>div {
  width: 105px;
}
.side-bar .side-wechat img {
  width: 70px;
  height: 70px;
}
.side-bar .side-wechat>div p {
  margin: 10px 0 0 0;
  color: #fff;
}
.side-bar .side-qq>div,
.side-bar .side-tel>div {
  width: 230px;
  height: 72px;
  line-height: 52px;
  font-size: 16px;
}
.side-bar .side-service>div i,
.side-bar .side-qq>div i,
.side-bar .side-tel>div i {
  padding-right: 10px;
}
/**
  底部报名栏
**/
.apply-fix {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #1e638a;
  color: #fff;
  display: none;
}
.apply-wrap>h1 {
  width: 160px;
  margin-right: 30px;
  text-align: center;
  color: #fff;
}
.apply-wrap li {
  position: relative;
  float: left;
  margin:10px 20px 10px 0;
  font-size: 14px;
  color: #fff;
}
.apply-wrap li>input,
.apply-wrap li>select {
  width: 215px;
  height: 26px;
  padding: 0 15px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  color: #000;
}
.apply-wrap li i {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #000;
}
/*验证码*/
.apply-wrap .apply-code>input {
  width: 130px;
}
.apply-wrap .apply-code>span {
  padding: 3px 7px;
  border-radius: 10px;
  background-color: rgb(54,178,251);
  cursor: pointer;
}
/*提交*/
.apply-wrap .apply-submit>input {
  margin-top: 4px;
  border-color: rgb(54,178,251);
  background-color: rgb(54,178,251);
  color: #fff;
}
.apply-wrap .apply-submit>input:hover {
  background-color: rgb(48, 167, 237);
}
/*关闭*/
.a-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  top: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.a-close:hover {
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
/*apply-small*/
.apply-small {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #1e638a;
  color: #fff;
  cursor: pointer;
}
.apply-small>h3 {
  margin: 5px 0;
}