body {
  font-size: 14px;
}
.toefl-banner{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.toefl-banner a{
  position: absolute;
  left: 50%;
  margin-left: -170px;
  bottom: 10.09%;
  padding: 10px 79px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(51,51,47,.6);
  box-shadow:0 0 7px rgb(150,115,78) inset;
  border: 3px solid rgb(150,115,78);
  border-radius: 10px;
}
.toefl-banner a:hover{
  background-color: rgba(51,51,47,.9)
}
@media screen and (max-width: 1600px) {
  .toefl-banner a{
    padding: 7px 59px;
    margin-left: -134px;
  }
}
/*申友托福精品课程*/
.excellent{
  width: 1000px;
  padding: 46px 0 43px 0;
  margin: 0 auto;
}
.excellent h4{
  color: #000;
  font-size: 35px;
  text-align: center;
}
.excellent p{
  text-align: center;
  font-size: 24px;
  margin-top: 19px;
  color: #5b5b5b;
}
.excel-in{
  width: 100%;
  margin-top: 60px;
}
.excel-in ul li{
  float: left;
  width: 190px;
  margin-right: 10px;
  border: 1px solid rgb(224,224,224);
}
.excel-in ul li:last-child{
  margin-right: 0;
}
.excel-in ul .excel-top1 .eT-circle{
  background-color: #F5C815;
}
.excel-in ul .excel-top2 .eT-circle{
  background-color: #99CC67;
}
.excel-in ul .excel-top3 .eT-circle{
  background-color: #FF6666;
}
.excel-in ul .excel-top4 .eT-circle{
  background-color: #66CDCC;
}
.excel-in ul .excel-top5 .eT-circle{
  background-color: #54BCF1;
}
.excel-in ul li.on .excel-top1{
  background-color: #F5C815;
}
.excel-in ul li.on .excel-top2{
  background-color: #99CC67;
}
.excel-in ul li.on .excel-top3{
  background-color: #FF6666;
}
.excel-in ul li.on .excel-top4{
  background-color: #66CDCC;
}
.excel-in ul li.on .excel-top5{
  background-color: #54BCF1;
}
.excel-in ul li.on .eT-circle{
  background-color: #fff;
}
.excel-in ul li.on .excel-top h5{
  color: white;
}
.excel-in ul li.on .excel-top .inFonts p{
  color: white;
}
.excel-in ul .excel-top .excel-det{
  font-size: 12px;
  border: 1px solid #fff;
  padding: 3px 8px;
  border-radius: 10px;
  color: #fff;
}
.excel-in ul .excel-top1 .excel-det{
  background-color: #F5C815;
}
.excel-in ul .excel-top2 .excel-det{
  background-color: #99CC67;
}
.excel-in ul .excel-top3 .excel-det{
  background-color: #FF6666;
}
.excel-in ul .excel-top4 .excel-det{
  background-color: #66CDCC;
}
.excel-in ul .excel-top5 .excel-det{
  background-color: #54BCF1;
}
.excel-in ul li.on .excel-top .excel-det{
  background-color: #fff;
  color: #000;
}
.excel-top{
  width: 100%;
  height: 330px;
  background-color: #fff;
  padding-top: 25px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.eT-circle{
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 84px;
}
.eT-circle a{
  width: 100%;
  height: 100%;
  display: block;
}
.eT-circle span{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.eT-circle img{
  vertical-align: middle;
}
.excel-top h5{
  font-size: 20px;
  color: #000;
  margin-top: 40px;
}
.excel-in ul:after{
  display:block;clear:both;content:"";visibility:hidden;height:0;
}
.inFonts{
  width: 100%;
  height: 65px;
  display: table;
  margin: 21px 0 8px 0;
}
.inFonts p{
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
}
.moreUpload{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.moreUpload i{
  font-size: 45px;
  color: #818181;
}
.moreUpload a{
  display: block;
  font-size: 25px;
  color: #000;
}
.moreUpload a:hover{
  color: #663399;
}
/*超值服务系统*/
.serviceSystem{
  width: 100%;
  padding: 62px 0 44px 0;
  background-color: #FF8259;
  height: 622px;
}
.serviceSystem h2{
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
.serviceUl{
  width: 1000px;
  margin: 0 auto;
  margin-top: 82px;
}
.serviceUl>ul>li{
  width: 186px;
  height: 289px;
  position: relative;
  float: left;
  margin-right: 16px;
}
.serviceUl>ul:after{
  display:block;clear:both;content:"";visibility:hidden;height:0;
}
.serviceUl>ul>li:last-child{
  margin-right: 0;
}
.serviceTop{
  width: 100%;
  text-align: center;
}
.serviceTop img{
  position: relative;
  top: 3px;
}
.serviceSort{
  width: 100%;
  text-align: center;
  margin-top: 14px;
  font-size: 12px;
  background-color: rgba(255,255,255,.3);
  height: 297px;
}
.serviceSort:hover{
  background-color: rgba(255,255,255,.5)
}
.serviceSort ul li{
  margin-bottom: 15px;
  color: #fff;
}
.oneSort ul li{
  margin-bottom: 20px;
}
.threeSort ul li{
  margin-bottom: 8px;
}
.serviceSort .serviceTitle{
  font-size: 22px;
  width: 95px;
  padding: 26px 0 17px 0;
  text-align: center;
  margin: 0 auto;
}
.serviceSort .serviceTitle p{
  color: #fff;
}
.serviceSort .serviceTitle i{
  display:block;
  border-bottom: 2px solid #fff;
  margin-top: 8px;
}
.fourSort>a{
  width: 137px;
  height: 32px;
  line-height: 32px;
  display: block;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  color: #ff6666;
  font-size: 14px;
}
.fourSort ul li{
  margin-bottom: 12px;
}
.fourSort ul li:last-child{
  margin-bottom: 27px;
}
/*中外托福名师团队*/
.toefl-teacher{
  width: 100%;
  height:710px;
  padding: 46px 0;
}
.toefl-teacher>h2 {
  margin-top: 40px;
}
.inTeacher{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.inTeacher h2{
  font-size: 35px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}
.inTeacher>span{
  color: #494544;
  font-size: 18px;
}
.toggleSummer{
  width: 100%;
  margin-top: 30px;
  position: relative;
}
/*箭头*/
.summerHd{
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -35px;
}
.summerHd a{
  position: absolute;
  width: 34px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font: 400 50px/70px simsun;
  background-color: #fff;
}
.summerHd a:hover {
  text-decoration: none;
  color: rgb(54,178,251);
}
.summerHd a:visited,
.summerHd a:link {
  text-decoration: none;
}
.summerHd a.prev{
  left: 0;
}
.summerHd a.next{
  right: 0;
}
.summerHd a:hover{
  background-color: #dfdfdf;
}
/*老师介绍*/
.summerBd{
  width: 90%;
  margin: 0 auto;
  height: 492px;
  overflow: hidden;
}
.summerBd ul li{
  width: 30%;
  text-align: center;
  float: left;
  margin: 0 15px;
  background-color: #F2F5FA;
  padding-bottom:20px ;
}
.summerBd ul li:hover a{
  background-color: rgb(54,178,251);
  color: #E9F1FF;
}
.summerBd .summer-title{
  border-bottom: 1px solid #ccc;
  padding: 14px 0 5px 0;
  margin: 0 auto;
}
.summerBd .summer-title p{
  font-size: 13px;
  color: rgb(54,178,251);
  text-align: center;
}
.summerBd .summer-title p:first-child{
  font-size: 24px;
  color: #000;
  margin-bottom: 7px;
}
.summerBd li .summer-cent{
  height: 118px;
  overflow: hidden;
  padding: 0 13px;
  line-height: 23px;
  margin: 10px 0;
  text-align: left;
}
.summerBd li .summer-cent:hover{
  overflow-y: scroll;
}
.summerBd li .summer-cent:after{
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
}
.summerBd li a{
  display: block;
  border: 1px solid rgb(54,178,251);
  font-size: 16px;
  margin:0 auto;
  width: 105px;
  border-radius: 10px;
}
.summerBd ul li img{
  width: 100%;
  height: 222px;
  overflow: hidden;
}
.summerBd:after{
  display:block;clear:both;content:"";visibility:hidden;height:0;
}