<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <title>课程</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/course-new.css">

  <script src="../js/jquery-2.1.3.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/jquery.SuperSlide.2.1.js"></script>
  <script src="../js/public.js"></script>
</head>
<body>
<!--导航-->
<nav class="s-nav navbar-fixed-top">
  <div class="container clearfix">
    <a class="s-nav-logo pull-left" href="#">
      <img src="../images/logo.png" alt="企业logo">
    </a>
    <ul class="s-nav-cnt pull-left">
      <li><a class="on" href="#">首页</a></li>
      <li class="s-nav-work">
        <a href="#">做题<i class=" icon-caret-down"></i></a>
        <ul class="s-nav-showing">
          <li><a href="#">练习</a></li>
          <li><a href="#">知识库</a></li>
          <li><a href="#">测评</a></li>
        </ul>
      </li>
      <li><a href="#">模考</a></li>
      <li><a href="details.html">报告</a></li>
      <li><a href="course.html">课程</a></li>
      <li><a href="#">名师团队</a></li>
      <li><a href="#">学员案例</a></li>
      <li><a href="#">公开课</a></li>
      <li><a href="#">资讯</a></li>
    </ul>
    <form action="">
      <i class="icon-search"></i>
      <input type="text">
    </form>
    <ul class="s-nav-login pull-right">
      <li><a href="#">登录</a></li>
      <li><a href="#">注册</a></li>
    </ul>
  </div>
</nav>
<section>
  <div class="s-course s-w1200">
    <ul class="s-title-list">
      <li class="active s-title"><a href="#allAround" data-toggle="tab">全能小班</a></li>
      <li class="s-title"><a href="#sprint" data-toggle="tab">冲刺小班</a></li>
      <li class="s-title"><a href="#weekend" data-toggle="tab">全能周末班</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="allAround">
        <p class="s-desc">这样的开头是中规中矩，但是具有模板特征，很难取得高分。再看考官范文，先一个traditionally副词开头，引出常规的情况，然后用introducing一个动名词短语引出专家的观点。转瞬间，就用了“副词置于句首”，“</p>
        <div class="s-detail clearfix">
          <div class="s-text pull-left">
            <h2>连授24天</h2>
            <p>Nowadays, the topic about when children should begin learning a foreign language has been discussed. Some experts say they should begin at primary school. In my opinion, this has more advantages than disadvantages.</p>
            <ul>
              <li>模块</li>
              <li>阅读</li>
              <li>文法</li>
              <li>词汇</li>
              <li>数学</li>
              <li>写作</li>
              <li>模考点评</li>
            </ul>
            <ul>
              <li>课时</li>
              <li>30</li>
              <li>30</li>
              <li>15</li>
              <li>15</li>
              <li>15</li>
              <li>15</li>
            </ul>
            <a class="s-consult" href="#">立即咨询</a>
          </div>
          <div class="s-img">
            <div class="s-img-bg01">
              <img src="../images/course.png" alt="">
            </div>
            <div class="s-img-bg s-img-bg02"></div>
            <div class="s-img-bg s-img-bg03"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="sprint">
        <p class="s-desc">这样的开头是中规中矩，但是具有模板特征，很难取得高分。再看考官范文，先一个traditionally副词开头，引出常规的情况，然后用introducing一个动名词短语引出专家的观点。转瞬间，就用了“副词置于句首”，“</p>
        <div class="s-detail clearfix">
          <div class="s-text pull-left">
            <h2>连授24天</h2>
            <p>Nowadays, the topic about when children should begin learning a foreign language has been discussed. Some experts say they should begin at primary school. In my opinion, this has more advantages than disadvantages.</p>
            <ul>
              <li>模块</li>
              <li>阅读</li>
              <li>文法</li>
              <li>词汇</li>
              <li>数学</li>
              <li>写作</li>
              <li>模考点评</li>
            </ul>
            <ul>
              <li>课时</li>
              <li>30</li>
              <li>30</li>
              <li>15</li>
              <li>15</li>
              <li>15</li>
              <li>15</li>
            </ul>
            <a class="s-consult" href="#">立即咨询</a>
          </div>
          <div class="s-img">
            <div class="s-img-bg01">
              <img src="../images/course.png" alt="">
            </div>
            <div class="s-img-bg s-img-bg02"></div>
            <div class="s-img-bg s-img-bg03"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="weekend">
        <p class="s-desc">这样的开头是中规中矩，但是具有模板特征，很难取得高分。再看考官范文，先一个traditionally副词开头，引出常规的情况，然后用introducing一个动名词短语引出专家的观点。转瞬间，就用了“副词置于句首”，“</p>
        <div class="s-detail clearfix">
          <div class="s-text pull-left">
            <h2>连授24天</h2>
            <p>Nowadays, the topic about when children should begin learning a foreign language has been discussed. Some experts say they should begin at primary school. In my opinion, this has more advantages than disadvantages.</p>
            <ul>
              <li>模块</li>
              <li>阅读</li>
              <li>文法</li>
              <li>词汇</li>
              <li>数学</li>
              <li>写作</li>
              <li>模考点评</li>
            </ul>
            <ul>
              <li>课时</li>
              <li>30</li>
              <li>30</li>
              <li>15</li>
              <li>15</li>
              <li>15</li>
              <li>15</li>
            </ul>
            <a class="s-consult" href="#">立即咨询</a>
          </div>
          <div class="s-img">
            <div class="s-img-bg01">
              <img src="../images/course.png" alt="">
            </div>
            <div class="s-img-bg s-img-bg02"></div>
            <div class="s-img-bg s-img-bg03"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--底部-->
<footer class="s-footer">
  <div class="s-footer-top">
    <div class="s-w1200 clearfix">
      <dl class="pull-left">
        <dt>快速入口</dt>
        <dd><a href="#">SAT</a></dd>
        <dd><a href="#">GMAT</a></dd>
        <dd><a href="#">TOEFL</a></dd>
        <dd><a href="#">IELTS</a></dd>
        <dd><a href="#">ACT</a></dd>
      </dl>
      <dl class="pull-left">
        <dt>网站说明</dt>
        <dd><a href="#">关于我们</a></dd>
        <dd><a href="#">联系我们</a></dd>
        <dd><a href="#">加入我们</a></dd>
        <dd><a href="#">您的建议</a></dd>
      </dl>
      <div class="s-qr">
        <img src="../images/qr-code01.png" alt="">
        <p>SAT公众号</p>
      </div>
      <div class="s-qr">
        <img src="../images/qr-code01.png" alt="">
        <p>SAT公众号</p>
      </div>
      <div class="s-tel">
        <img src="../images/tel_icon.png" alt="">
        <p>400-600-1123</p>
      </div>
    </div>
  </div>
  <div class="s-footer-bottom">
    <div class="s-w1200">
      <dl>
        <dt>友情链接:</dt>
        <dd>
        <dd><a href="#">申友网</a></dd>
        <dd><a href="#">申友网</a></dd>
        <dd><a href="#">雷哥网</a></dd>
        <dd><a href="#">雷哥网</a></dd>
        <dd><a href="#">申友网</a></dd>
        </dd>
      </dl>
      <p>Copyright © 2015 All Right Reserved 申友教育 版权所有 京ICP备16000003号 京公网安备 11010802018491 免责声明
      </p>
    </div>
  </div>
</footer>
</body>
<script>
  $(function () {
    var height = document.documentElement.clientHeight;
    console.log(height);
    $('.s-course').css('height', height)
    $('.s-course .s-title-list').css('paddingTop', 0.05*height)
    $('.s-course .s-desc').css('marginBottom', 0.1*height)
  })
</script>
</html>